@font-face {
  font-family: "EinrideIcons";
  font-weight: normal;
  font-style: normal;
  src: url(EinrideIcons/EinrideIcons-Book.woff2) format("woff2"),
    url(EinrideIcons/EinrideIcons-Book.woff) format("woff");
}
