@font-face {
  font-family: "SuisseIntl";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/SuisseIntl-Regular/SuisseIntl-Regular-WebM.eot");
  src: url("../assets/fonts/SuisseIntl-Regular/SuisseIntl-Regular-WebM.eot#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/SuisseIntl-Regular/SuisseIntl-Regular-WebM.woff2")
      format("woff2"),
    url("../assets/fonts/SuisseIntl-Regular/SuisseIntl-Regular-WebM.woff")
      format("woff"),
    url("../assets/fonts/SuisseIntl-Regular/SuisseIntl-Regular-WebM.ttf")
      format("truetype");
}

@font-face {
  font-family: "SuisseIntl";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/SuisseIntl-SemiBold/SuisseIntl-SemiBold-WebM.eot");
  src: url("../assets/fonts/SuisseIntl-SemiBold/SuisseIntl-SemiBold-WebM.eot#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/SuisseIntl-SemiBold/SuisseIntl-SemiBold-WebM.woff2")
      format("woff2"),
    url("../assets/fonts/SuisseIntl-SemiBold/SuisseIntl-SemiBold-WebM.woff")
      format("woff"),
    url("../assets/fonts/SuisseIntl-SemiBold/SuisseIntl-SemiBold-WebM.ttf")
      format("truetype");
}

body {
  font-family: "SuisseIntl", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #222222;
  font-size: 18px;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  padding-top: 1px;
  padding-bottom: 7px;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  padding-top: 6px;
  padding-bottom: 2px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  padding-top: 7px;
  padding-bottom: 1px;
}

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 3px;
}

small {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  padding-top: 3px;
  padding-bottom: 5px;
}
